#wrapper{
	/*background: rgb(60,100,100);*/
	width:960px;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	border: 4px  black solid;
}
header{
	background-color: #FFED74;
	border:2px black solid;
	height:200px;
}
.header-description{
	text-align:center;
	margin-top: -70px;
   
}
h1{
	font-size:25px;
   line-height: 1.5em;
	
}
h3{
	font-size:20px;
    line-height: 1.5em;
}
nav {
	background-color: #E8C66A;
	display:block;
	border:2px black solid;
	height:50px;
}
span{
	margin:0px 100px;
}
#one{
	border:2px black solid;
	height:400px;
}
#two{
	text-align:justify;
	padding:10px;
	font-size:15px;
	border:2px black solid;
	height:200px;
}
aside{
	background-color: #FFC675;
}
article{
	background-color: #E89C6C;
}
div,section{
	background-color: #FFE2B8;
	
}

#picture{
	margin-top:10px;


}
#description{
	float: right;
    width: 220px;
    margin-right: 50px;
    margin-top: -260px;
}

footer{
	background-color: #FF957E;
	border:2px black solid;
	height:200px;
}